body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
    color: #2000d8;
}

h2 {
    margin: 1em 0 0.25em;
    font-size: 18px;
    font-family: Arial;
    color: #00163f;
    letter-spacing: 2px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

h2:first-of-type {
    margin-top: 0.5em;
}

#sizePicker {
  font-family: Arial;
  text-transform: lowercase;
  padding-right: 10px;
  letter-spacing: 1px;
}


#createGrid {
  font-family: Arial;
  text-transform: uppercase;
  background-color: #2000d8;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 10px;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
